.rightBar {
	.birthdayContainer img {
		height: 32px;
		width: 32px;
		object-fit: cover;
	}
}
.birthdayContainer {
	width: 100%;
	span {
		font-size: 12px;
	}
}

.rightBarAd {
	margin-top: 10px;
	img {
		border-radius: 10px;
		width: 100%;
		object-fit: cover;
	}
}
.onlineFriends {
	margin-top: 10px;
	img {
		height: 32px;
		width: 32px;
		object-fit: cover;
		border-radius: 50%;
	}
	li {
		position: relative;
		.online {
			width: 10px;
			height: 10px;
			background-color: green;
			border-radius: 50%;
			position: absolute;
			top: 0px;
			left: 25px;
			border: 2px solid #fff;
		}
		span:nth-child(3) {
			font-weight: 600;
		}
	}
}

.profileRightBar {
	h1 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.key {
		margin-right: 10px;
		color: #555;
	}
	.value {
		text-transform: capitalize !important;
	}

	.user-friends {
		width: 100%;
		padding: 0;

		display: flex;

		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		li {
			margin-top: 20px;
			padding: 0;
			display: flex;
			flex-direction: column;
			span {
				text-align: center;
			}
		}
		img {
			padding: 0;
			height: 120px;
			width: 120px;
			object-fit: cover;
			border-radius: 5px;
		}
	}
}
